In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import sys
#sys.path.append('C:\\Users\\Graúna Motos\\Documents\\credit_risk')
sys.path.append('/home/noise/Documentos/credit_risk')
from src.utils_modelling import analisy_univariate, wo_discretize, plot_woe, wo_discretize_continuos
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [3]:

#LINUX
input_train = pd.read_csv('/home/noise/Documentos/credit_risk/data/loan_data_inputs_train.csv', index_col=0)
target_train = pd.read_csv('/home/noise/Documentos/credit_risk/data/loan_data_targets_train.csv', index_col=0, header= None)
input_test = pd.read_csv('/home/noise/Documentos/credit_risk/data/loan_data_inputs_test.csv', index_col=0)
target_test = pd.read_csv('/home/noise/Documentos/credit_risk/data/loan_data_targets_test.csv', index_col=0, header= None)

/tmp/ipykernel_9083/3908058387.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  target_train = pd.read_csv('/home/noise/Documentos/credit_risk/data/loan_data_targets_train.csv', index_col=0, header= None)

In [4]:
target_train.head()

                 1
0
NaN       good_bad
427211.0         1
206088.0         1
136020.0         1
412305.0         0

In [5]:
# Remove the 'good_bad' row and convert to numeric
target_train = target_train.apply(pd.to_numeric, errors='coerce')

# Remove any remaining non-numeric values
target_train = target_train.dropna()

# Reset the index
target_train = target_train.reset_index(drop=True)

In [6]:
target_train.shape

(373028, 1)

In [7]:
'''input_train = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_inputs_train.csv', index_col=0)
target_train = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_targets_train.csv', index_col=0, header=None  )
input_test = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_inputs_test.csv', index_col=0)
target_test = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_targets_test.csv', index_col=0, header=None)'''

"input_train = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_inputs_train.csv', index_col=0)\ntarget_train = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_targets_train.csv', index_col=0, header=None  )\ninput_test = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_inputs_test.csv', index_col=0)\ntarget_test = pd.read_csv('C:\\Users\\Graúna Motos\\Documents\\credit_risk\\data\\silver\\loan_data_targets_test.csv', index_col=0, header=None)"

In [8]:
target_train.shape

(373028, 1)

# Train model PD

In [9]:
inputs_train_with_ref_cat = input_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ_smb_wedd_ren_en_mov_house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth_med_vacation',
'purpose:major_car_home',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86',
]]

In [10]:
ref_categories = [
    'grade:G',
    'home_ownership:RENT_OTHER_NONE_ANY',
    'addr_state:ND_NE_IA_NV_FL_HI_AL',
    'verification_status:Verified',
    'purpose:educ_smb_wedd_ren_en_mov_house',  
    'initial_list_status:f',
    'term:60',
    'emp_length:0',
    'mths_since_issue_d:>84',
    'int_rate:>20.281',
    'mths_since_earliest_cr_line:<140',
    'delinq_2yrs:>=4',
    'inq_last_6mths:>6',
    'open_acc:0',
    'pub_rec:0-2',
    'total_acc:<=27',
    'acc_now_delinq:0',
    'total_rev_hi_lim:<=5K',
    'annual_inc:<20K',
    'dti:>35',
    'mths_since_last_delinq:0-3',
    'mths_since_last_record:0-2'
]

In [11]:
input_train = inputs_train_with_ref_cat.drop(ref_categories, axis=1)
input_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
427211,True,False,False,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0
206088,False,False,True,False,False,False,False,True,0,False,...,0,1,0,0,1,0,0,0,0,0
136020,True,False,False,False,False,False,False,True,0,False,...,0,0,1,0,1,0,0,0,0,0
412305,False,False,False,True,False,False,False,False,0,False,...,0,1,0,0,1,0,0,0,0,0
36159,False,False,True,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0

# Logistic Regression Model

In [12]:
reg = LogisticRegression()

In [13]:
input_train.shape
#target_train.shape

(373028, 104)

In [14]:
print(target_train)

          1
0       1.0
1       1.0
2       1.0
3       0.0
4       0.0
...     ...
373023  1.0
373024  1.0
373025  1.0
373026  1.0
373027  1.0

[373028 rows x 1 columns]

In [15]:
target_train.shape

(373028, 1)

In [16]:
target_train.head()

     1
0  1.0
1  1.0
2  1.0
3  0.0
4  0.0

In [17]:
input_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
427211,True,False,False,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0
206088,False,False,True,False,False,False,False,True,0,False,...,0,1,0,0,1,0,0,0,0,0
136020,True,False,False,False,False,False,False,True,0,False,...,0,0,1,0,1,0,0,0,0,0
412305,False,False,False,True,False,False,False,False,0,False,...,0,1,0,0,1,0,0,0,0,0
36159,False,False,True,False,False,False,False,True,0,False,...,1,0,0,0,1,0,0,0,0,0

In [18]:
reg.fit(input_train, target_train)

/home/noise/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/noise/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [19]:
reg.intercept_[0]

-1.3014642509734529

In [20]:
feature_name = input_train.columns.values

In [21]:

# Desbloqueando as opções de exibição do pandas
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.width = None

In [22]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table = summary_table.sort_index()

# Add intercept as the first row
intercept_row = pd.DataFrame({'Feature name': ['Intercept'], 'Coefficients': [reg.intercept_[0]]}, index=[0])
summary_table = pd.concat([intercept_row, summary_table]).reset_index(drop=True)

summary_table

                            Feature name  Coefficients
0                              Intercept     -1.301464
1                                grade:A      0.401997
2                                grade:B      0.427137
3                                grade:C      0.376404
4                                grade:D      0.334829
5                                grade:E      0.265671
6                                grade:F      0.102277
7                     home_ownership:OWN      0.110801
8                home_ownership:MORTGAGE      0.109884
9                       addr_state:NM_VA      0.029672
10                         addr_state:NY      0.055810
11          addr_state:OK_TN_MO_LA_MD_NC      0.067008
12                         addr_state:CA      0.053747
13                addr_state:UT_KY_AZ_NJ      0.079053
14             addr_state:AR_MI_PA_OH_MN      0.143563
15             addr_state:RI_MA_DE_SD_IN      0.104768
16                   addr_state:GA_WA_OR      0.180165
17                      addr_state:WI_MT      0.249270
18                         addr_state:TX      0.230928
19                      addr_state:IL_CT      0.266357
20          addr_state:KS_SC_CO_VT_AK_MS      0.331021
21          addr_state:WV_NH_WY_DC_ME_ID      0.524670
22      verification_status:Not Verified      0.136089
23   verification_status:Source Verified      0.087435
24                   purpose:credit_card      0.319301
25            purpose:debt_consolidation      0.230865
26              purpose:oth_med_vacation      0.248986
27                purpose:major_car_home      0.293532
28                 initial_list_status:w      0.194476
29                               term:36      0.066972
30                          emp_length:1      0.029773
31                        emp_length:2-4      0.056756
32                        emp_length:5-6     -0.048844
33                        emp_length:7-9      0.054452
34                         emp_length:10      0.009692
35                mths_since_issue_d:<38      0.000000
36              mths_since_issue_d:38-39      0.000000
37              mths_since_issue_d:40-41      0.000000
38              mths_since_issue_d:42-48      0.000000
39              mths_since_issue_d:49-52      0.000000
40              mths_since_issue_d:53-64      0.000000
41              mths_since_issue_d:65-84      0.000000
42                       int_rate:<9.548      1.565573
43                 int_rate:9.548-12.025      0.975793
44                 int_rate:12.025-15.74      0.620236
45                 int_rate:15.74-20.281      0.234882
46   mths_since_earliest_cr_line:141-164      0.000000
47   mths_since_earliest_cr_line:165-247      0.000000
48   mths_since_earliest_cr_line:248-270      0.000000
49   mths_since_earliest_cr_line:271-352      0.000000
50      mths_since_earliest_cr_line:>352      0.361789
51                         delinq_2yrs:0     -0.004911
52                       delinq_2yrs:1-3     -0.032829
53                      inq_last_6mths:0      0.745904
54                    inq_last_6mths:1-2      0.583432
55                    inq_last_6mths:3-6      0.354569
56                          open_acc:1-3     -0.005236
57                         open_acc:4-12     -0.134158
58                        open_acc:13-17     -0.167694
59                        open_acc:18-22     -0.169618
60                        open_acc:23-25     -0.160160
61                        open_acc:26-30     -0.082227
62                         open_acc:>=31     -0.165030
63                           pub_rec:3-4      0.130573
64                           pub_rec:>=5      0.216291
65                       total_acc:28-51     -0.025642
66                        total_acc:>=52      0.017717
67                    acc_now_delinq:>=1      0.227595
68               total_rev_hi_lim:5K-10K      0.433751
69              total_rev_hi_lim:10K-20K      0.399788
70              total_rev_hi_lim:20K-30K      0.425619
71              total_rev_hi_lim:30K-40K      0.454152
72              total_rev_hi_lim:40K-55K      0.477720
73              total_rev_hi_lim:55K-95K      0.528753
74                 total_rev_hi_lim:>95K      0.694976
75                    annual_inc:20K-30K     -0.080131
76                    annual_inc:30K-40K     -0.021521
77                    annual_inc:40K-50K      0.071146
78                    annual_inc:50K-60K      0.135834
79                    annual_inc:60K-70K      0.213020
80                    annual_inc:70K-80K      0.288064
81                    annual_inc:80K-90K      0.364029
82                   annual_inc:90K-100K      0.384759
83                  annual_inc:100K-120K      0.465269
84                  annual_inc:120K-140K      0.552451
85                      annual_inc:>140K      0.492151
86                             dti:<=1.4     -0.158246
87                           dti:1.4-3.5     -0.026522
88                           dti:3.5-7.7     -0.008444
89                          dti:7.7-10.5     -0.066638
90                         dti:10.5-16.1     -0.140392
91                         dti:16.1-20.3     -0.234842
92                         dti:20.3-21.7     -0.243251
93                         dti:21.7-22.4     -0.276428
94                           dti:22.4-35     -0.292043
95        mths_since_last_delinq:Missing      0.028337
96           mths_since_last_delinq:4-30      0.137663
97          mths_since_last_delinq:31-56      0.146012
98           mths_since_last_delinq:>=57      0.085880
99        mths_since_last_record:Missing      0.521771
100          mths_since_last_record:3-20      0.736425
101         mths_since_last_record:21-31      0.695336
102         mths_since_last_record:32-80      0.867442
103         mths_since_last_record:81-86      0.488036
104           mths_since_last_record:>86      0.452052